.imp-progressbar {
    height: 6px;
    border-radius: 2px;
    background-color: #ededed;

    > .imp-progressContainer {
        width: 100%;
        height: 6px;
        border-radius: 2px;

        > .imp-progress {
            height: 6px;
            background-color: rgba(47, 153, 218, 0.5);
            -webkit-transition: width 0.5s;
            transition: width 0.5s;
            border-radius: 2px;
        }
    }

}