<impulse>
    <window>
        <div class="position-absolute" style="top: 50%; left: 50%; margin-top: -38px; margin-left: -115px" >
            <div class="row justify-content-center">
                <h3>Impulse</h3>
            </div>
            <div class="row justify-content-center">
                <h5>Easy. Secure. Impressive.</h5>
            </div>
        </div>
    </window>
</impulse>