.imp-navbar {
    //@extend .navbar;
    background-color: rgba(18, 17, 21, 0.95);
    border: rgb(15, 14, 18);

    & .imp-navitem {
        //background-color: rgba(30, 29, 33, 0.95);
        //border: #161519;
        //color: rgba(225, 225, 225, 0.9);

        &:hover {
            color: #a8d044; // TODO why this doesnt work?
            background-color: rgba(30, 30, 30, 0.75);
        }
    }

    &:not(.vertical) .imp-navmenu {
        background-color: rgba(50, 50, 50, 0.95);
    }

    // toggle
    & .imp-navitem.toggle .imp-navbar-toggle-icon .menu-icon {
        & > span {
            background: #fff;
        }
    }
}