@import "../bootstrap/variables";

/**
 * Defines a map of available states for notifications.
 */
$notification-states-map: (
    'info':     ( background-color: $info, font-color: $white ),
    'success':  ( background-color: rgba(124, 205, 124, 0.9), font-color: $white ),
    'warning':  ( background-color: $warning, font-color: $white ),
    'error':    ( background-color: $danger, font-color: $white )
);


@mixin imp-notification-mixin($backgroundColor, $color)  {
    background-color: $backgroundColor;

    .imp-notification-header {
        @extend .toast-header;
        color: $color;
        background-color: $backgroundColor;

        .close {
            color: $color;
        }
    }

    .imp-notification-body {
        @extend .toast-body;
        color: $color;
    }
}

// DEFINITIONS
.imp-notifications-container {
    position: fixed;
    z-index: 1000;
    width: 300px;

    &.middle {
        vertical-align: middle;
    }

    &.center {
        margin-left: auto;
        margin-right: auto;
    }

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    & .imp-notification {
        @extend .toast;
        z-index: 999;
        opacity: 1;
        width: 100%;

        @each $state, $map in $notification-states-map {
            &.#{$state} {
                @include imp-notification-mixin(
                    map_get(map-get($notification-states-map, $state), 'background-color'),
                    map_get(map-get($notification-states-map, $state), 'font-color')
                )
            }
        }
    }
}