.imp-paging {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .flex-row;
    @extend .w-25;

    > span {
        @extend .flex-shrink-0;
    }

    > button {
        @extend .btn;
        @extend .btn-link;
        @extend .btn-sm;
        @extend .text-white;
    }

    input, input:focus {
        @extend .form-control;
        //width: 50px;
        background-color: rgba(18, 17, 21, 0.9);
        border: rgb(15, 14, 18);
        color: #fff;
        margin-right: 15px;
    }
}