.imp-textbox, .imp-textbox:focus,
.imp-feedback-textbox > .imp-feedback-textbox-input, .imp-feedback-textbox > .imp-feedback-textbox-input:focus {
    color: #fff;
    background-color: rgba(18, 17, 21, 0.9);
    border: rgb(15, 14, 18);
}